@charset "UTF-8";
/*-------------------------
    初期値
-------------------------*/
html {
    font-size: 62.5%;
}
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
    font-size: 1.6rem;
    text-size-adjust: 100%;
    font-feature-settings: "palt";
}


/*-------------------------
    大枠
-------------------------*/
header {
    background-color: #ef7a53;
    color: #fff;
}
header h1 {
    padding: 10px 20px;
    font-weight: normal;
}
main {
    max-width: 1200px;
    margin: 50px auto;
}
footer {
    position: relative;
    height: 150px;
    background-color: #cccccc;
    border-top: 1px solid #aaa;
}
footer .footer-textarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------
    ユーザー操作領域
-------------------------*/
.user-action-area {
    width: 100%;
    background-color: #f6f6f6;
    border:1px solid #ddd;
    padding: 20px 30px;
    margin-bottom: 30px;
}

select {
    padding: 5px;
    border-color: #aaa;
    margin-right: 10px;
}

/*-------------------------
    レビュー出力領域
-------------------------*/
.review-contentarea {
    display: flex;
    padding: 20px 0;
}
.review-contentarea~.review-contentarea {
    border-top: 1px solid #ddd;
}
.review-user {
    width: 25%;
    padding: 0 50px;
}
.review-user img {
    width: 80px;
    height: 80px;
}
.review-content {
    width: 75%;
    border-left: 1px dotted #ccc;
    padding: 10px 50px;
}
.age {
    margin-left: 10px;
}
.rating-area {
    color: rgb(241, 193, 37);
    font-size: 2.4rem;
}
